@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --bg: white;
  --one: #ebebeb;
  --two: #a4a4a4;
  --three: #5c5c5c;
  --three-shadow: #a9a9a9;
  --four: #141414;
  --em: red;

  --bird: #ffa500;
  --kitty: #f4617b;
  --fish: #468235;
  --pup: #77c2d1;
  --random: var(--three);

  --text: var(--four);
}

::-webkit-scrollbar {
    display: none;
}

.bird { color: var(--bird); }
.kitty { color: var(--kitty); }
.pup { color: var(--pup); }
.fish { color: var(--fish); }
.random { color: var(--rando) }
.sa {

}

html {
  color: var(--text);
  background-color: var(--bg);

  font-family: 'Josefin Sans', sans-serif;
  text-align: justify;
  line-height: 1.2em;
  font-size: 17px;
}

.hidden {
  display: none
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  display: flex;
}

#tabletop {
  position: absolute;
  top: 50%;
  left: 50%;
}

#dialogue {
  width: 20em;
  overflow: scroll;
  padding: 1em;
  /* border: 1px solid var(--three); */
  font-family: inherit;
  text-align: inherit;
  line-height: inherit;
}

#tooltip {
  position: absolute;
  margin-top: 0.5em;
  margin-left: 0.5em;
  padding: 0.5em;
  background-color: var(--bg);
  max-width: 15em;
  box-sizing: border-box;
  text-align: justify;
  border: 3px solid var(--em);
}

*::selection {
  background: var(--two);
  background-color: var(--two);
  color: var(--bg);
}
*::-moz-selection {
  background: var(--two);
  background-color: var(--two);
  color: var(--bg);
}

a button {
  text-decoration: underline;
  background-color: inherit;
  border: none !important;
  text-align: left;
  padding: 0;
  display: inline;
  margin: 0;
  color: inherit;
}
a button:hover {
  background-color: inherit;
  color: inherit;
}
a:active, a button:active {
  color: var(--three);
  opacity: 0.7;
}

h1, h2 {
  margin: 0;
  line-height: 1em;
  text-align: left;
  display: inline-block;
  width: 100%;
}

ol, ul {
  margin: 0;
  color: inherit;
  display: inline-block;
}

li {
  margin-bottom: -1em;
}

blockquote {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  display: inline-block;
}

em {
  font-style: normal;
  color: var(--em);
  cursor: help;
  font-weight: bold;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: 1px solid var(--three);
  background-color: var(--bg);
  color: var(--text);
  text-align: inherit;
  line-height: inherit;
  margin-bottom: 3px;
}
button:hover {
  background-color: var(--three);
  color: var(--one);
}
button:active {
  border: 1px solid var(--bg);
}

button em::before {
  content: "\00a0\00a0";
}

.choicemenu {
  margin-top: 1em;
}

.item {
  display: block;
  position: absolute;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  transition: box-shadow 0.2s, background-color 0.2s, transform 0.2s, opacity 0.2s;
  transform: translate(-50%, -50%) scale(1.5, 1.5);
}

.item:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;

  background-color: var(--three-shadow);
  box-shadow: var(--three) 0px 0px 15px 1px;
  transform: translate(-50%, -50%) scale(1.55, 1.55);
  opacity: 1;
}

.transparent {
  opacity: 0.9;
}

.card {
  border-radius: 10px;
}
