:root {
  --bg: white;
  --one: #ebebeb;
  --two: #a4a4a4;
  --three: #5c5c5c;
  --four: #141414;
  --names: blue;
  --em: red;

  --text: var(--four);
}

html {
  color: var(--text);
  background-color: var(--bg)
}

.centered {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin-left: 0 !important;
}

.hidden {
  display: none
}

#tabletop {
  position: absolute;
  top: 20%;
  left: 30%;
}

#dialogue {
  position: absolute;
  top: 20%;
  left: calc(30% + 200px);
  margin-left: 5%;
  width: 15em;
  line-height: 1.5em;
  height: 60%;
  overflow: scroll;
  padding: 1em;
  border: 1px solid var(--three);
  box-sizing: border-box;
}

#dialogue p {
  pointer-events: none;
}

a button {
  text-decoration: underline;
  background-color: inherit;
  border: none !important;
  text-align: left;
  padding: 0;
  display: inline;
  margin: 0;
  color: inherit;
}
a button:hover {
  background-color: inherit;
  color: inherit;
}
a:active, a button:active {
  color: var(--three);
  opacity: 0.7;
}

q {
  quotes: none;
  color: var(--names);
}

blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

em {
  font-style: normal;
  color: var(--em);
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: 1px solid var(--three);
  background-color: var(--bg);
  color: var(--text);
  text-align: justify;
}
button:hover {
  background-color: var(--three);
  color: var(--one);
}
button:active {
  border: 1px solid var(--bg);
}

.choicemenu {
  margin-top: 1em;
}

.card {
  display: block;
  position: absolute;
  width: 200px;
  height: 300px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.card:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
