html {
  --three: #5c5c5c;
  --four: #141414;
}

.centered {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin-left: 0 !important;
}

.hidden {
  display: none
}

#tabletop {
  position: absolute;
  top: 20%;
  left: 30%;
}

#dialogue {
  position: absolute;
  top: 20%;
  left: calc(30% + 200px);
  margin-left: 5%;
  width: 15em;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
  line-height: 1.5em;
}

#dialogue p {
  pointer-events: none;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: 1px solid var(--three);
  background-color: white;
  color: var(--four);
  text-align: justify;
}
button:hover, input[type=button]:hover {
  background-color: var(--three);
  color: #ebebeb;
}
button:active, input[type=button]:active {
  border: 1px solid white;
}

.choicemenu {
  margin-top: 1em;
}

.card {
  display: block;
  position: absolute;
  width: 200px;
  height: 300px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.card:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
